<article>
  <header>
    <h1>$title$</h1>
$if(date)$$if(author)$<small class="pull-right">Posted on $date$ by $author$.</small>$endif$$endif$
  </header>
  $body$
</article>

<script type="text/javascript">
    var disqus_shortname = 'particleclickerdev'; 
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
